header {
    background: black;
    padding: 2em;
    text-align: center;
    color: white;
}

header nav li>a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: yellow;
    float: left;
    margin: 10px;
}

 nav {
    list-style: none;
     margin-bottom: 30px;

}
a:hover {

    color:orange;
    background-color: rgba(64, 65, 66,  0.2) ;

}


body{
    background-color: #e3e3e3;
}